<!DOCTYPE html>
<html lang="pt-br" xmlns="http://thymeleaf.org/">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Portal Escolar</title>

</head>

<body>
    <div class="container">
        <div th:insert="~{fragmentos/header :: header}"><!-- barra de menu -->...</div>
    </div>
    <header>
        <h1>Site de Acesso</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Alunos</a></li>
                <li><a href="#">Professores</a></li>
                <li><a href="#">Administradores</a></li>
              
            </ul>
          
        </nav>
    </header>
</body>

</html>